<h1 style="text-align:center;display:block; margin-left:auto; margin-right: auto; margin-top:5%;">Welcome to PhoneBook</h1>
<div style="width: 40%; display:block; margin-left:auto; margin-right: auto; margin-top:5%;">
    <form [formGroup]="form">
        <div class="form-group">
            <label for="inputFirstname">First Name</label>
            <input type="username" class="form-control loginform" id="inputFirstname" formControlName="firstname" placeholder="First Name" />
        </div>

        <div class="form-group">
            <label for="inputLastname">Last Name</label>
            <input type="username" class="form-control loginform" id="inputLastname" formControlName="lastname" placeholder="Last Name" />
        </div>


        <div class="form-group">
            <label for="inputPassword">Password</label>
            <input type="password" class="form-control loginform" id="inputPassword" formControlName="password" placeholder="Password" />
        </div>

        <div class="form-group">
            <label for="inputEmail">Email</label>
            <input type="email" class="form-control loginform" id="inputEmail" formControlName="email" placeholder="Email" />
        </div>

        <div class="form-group">
            <label for="inputTel">Phone Number</label>
            <input type="tel" class="form-control loginform" id="inputTel" formControlName="tel"/>
        </div>

        <div class="form-group">
            <label for="inputAdress">Adress</label>
            <input type="text" class="form-control loginform" id="inputAdress" formControlName="adress"/>
        </div>

        <div class="form-group">
            <label for="inputBirthDate">Birth Date</label>
            <input type="date" class="form-control loginform" id="inputBirthDate" formControlName="birthDate"/>
        </div>
        
        <div class="form-group" style="display: block;text-align:center">
        <button type="submit" class="btn btn-primary loginform" (click)="register()">
            Sign up
        </button>
        </div>
    </form>
</div>